.welcome {
    background-color     : #1f1f1f;
    background-image     : url("../../assets/images/banner.jpg");
    background-attachment: fixed;
    background-size      : cover;
    line-height          : 1.8;
    height               : 100vh;
    display              : flex;
    justify-content      : center;
    align-items          : center;
    text-align           : center;
}

.welcome--logo {
    width: 10rem;
}