.navbar {
    color          : #fff;
    background     : #030303aa;
    align-items    : center;
    justify-content: space-between;
    padding        : 0.5rem 2.5rem;
    position       : absolute;
    z-index        : 1;
    width          : 100%;
}

.navbar-sticky {
    background: #030303aa;
    position  : fixed;
    top       : 0;
    left      : 0;
    box-shadow: 1px 1px 1px #222;
    animation : moveDown 0.5s ease-in-out;
}

.container {
    margin: 0, 0, 0, 0;
}

.navbar--logo-holder {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.navbar--logo {
    width       : 4rem;
    height      : 4rem;
    margin-right: 0.5rem;
    animation   : rotate 0.7s ease-in-out 0.5s;
}

.navbar-toggler {
    padding: 0
}

@media (max-width: 992px) {
    .navbar--logo {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar--logout {
        display: none;
    }
}

.navbar--link-list {
    list-style: none;
    font      : sans-serif;
}

.nav-item {
    padding: 0.3rem 1rem 0.3rem 0;
    cursor : pointer;
}

.navbar--link-item {
    color  : #fff;
    padding: 0 0.3rem;
}

.navbar--link-item:link {
    color          : #fff;
    text-decoration: none;
    padding        : 0 0.3rem;
}

.navbar--link-item:visited {
    color  : #fff;
    padding: 0 0.3rem;
}

.navbar--link-item:active {
    color  : teal;
    padding: 0 0.3rem;
}

.navbar a {
    color          : white;
    text-decoration: none;
}

.navbar a:hover {
    color          : white;
    text-decoration: none;
}

@keyframes moveDown {
    from {
        transform: translateY(-5rem);
    }

    to {
        transform: translateY(0rem);
    }
}

@keyframes rotate {
    0% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(0rem);
    }
}