@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  font-family  : "Open Sans", sans-serif;
  font-size    : 1rem;
  padding-right: 0 !important;
}

.modal-open {
  overflow     : auto;
  padding-right: 0 !important;  
}